.search-style-dark{
    border-radius:5px;
    color:white;
    &:focus-within{
      border: 1px solid white;
    }
    
}

.search-style-light{
  border-radius:5px;
  &:focus-within{
    border: 1px solid  hsl(0, 0%, 52%);
    
  }
  
  
  
}

.filter-style{
  border:none;
  &:hover{
    cursor: pointer;
  }
}
.input-search-style-dark{
  border:none;
  @include placeholder($LightInput);

}

.input-search-style-light{
  border:none;
  @include placeholder($DarkText);

}